# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# archivo necesario de python para generar las migraciones
entrypoint.sh
# Distribution / packaging
.Python
.DS_Store
*.sqlite
*.sqlite3
media/
*.pyc
*.db
*.pid
